{{ partial "head.html" . }}

<div class="content-wrapper">
    <div class="content-wrapper__inner games">
        <h1>GAMES</h1>
        <p>Currently I only created games for game jams. Here is my
            <a href="http://ludumdare.com/compo/author/waschnick/" target="_blank">Ludum Dare authors page</a> and you can find all the
            <a href="https://github.com/CanardSauvage/ludum-dare" target="_blank">source here.</a></p>
        {{ range .Data.Pages.GroupByDate "2006" }}
        <h2>{{ .Key }}</h2>
        <ul id="list">
            {{range .Pages }}
            <li class="game-entry">
                <div>
                    <div class="game--header">
                        <h3>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                            <div class="post-date">{{ .Date.Format "Monday, January 2, 2006" }}</div>
                        </h3>
                    </div>
                    <div class="game--body">
                        <div class="left">
                            <img src="{{ .Permalink }}/cover.jpg"/>
                            <a class="gamelink" href="{{ .Params.Gamelink }}" target="_blank">Link to Ludum Dare entry</a>
                            <a class="downloadlink" href="{{ .Params.Downloadlink }}" target="_blank">Download</a>
                        </div>
                        <div class="right post-desc">{{ .Description }}</div>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}
