.content-wrapper {
    .games {
        a {
            color: $primary-color;
        }

        img {
            max-width: 256px;
        }

        li {
            list-style: none;
        }

        div.post-date {
            font-size: 1.4rem;
        }

        .game-entry {

            .game--header {

            }

            .game--body {
                display: flex;
                flex-wrap: wrap;

                .left {
                    max-width: 270px;
                    flex: 0 0 270px;
                    padding-right: 36px;
                    //margin-right: 36px;

                    .gamelink {
                        display: block;
                        font-size: 1.4rem;
                    }

                    .downloadlink {
                        display: block;
                        font-size: 1.4rem;
                    }
                }

                .right {
                    flex: 1 1 180px;
                    padding: 28px;
                    padding-left: 0px;
                }
            }

        }

    }
}