//.center {
//  text-align: center;
//  margin: auto;
//}

.intro {
  padding: 3.5em 1em 1.5em;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  .contact-links {
    margin: 0;

    li {
      display: inline-block;
      //margin: 0 0.1em;

      a {
        text-decoration: none;
        font-size: 2em;
        color: $primary-color;
      }
    }
  }

  p {
    line-height: 1.5;
    font-style: italic;
    margin: 0;

    a {
      color: $primary-color;
    }
  }

  .grey-duck-logo {
    margin: 2em 0;
  }
}